extends css

snippet ignore "prettier ignore css"
/* prettier-ignore */
endsnippet

snippet grid "css grid area parent definition" b
display: grid;
/* prettier-ignore */
grid: 
	"A A" auto 
	"B B" auto 
	/ 5em auto;
endsnippet
